form {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

input {
    margin-bottom: 20px;
}

.home-link {
    color: black;
    display: block;
    margin-bottom: 10px;
}

form button {
    background: none;
    border: none;
    background-color: rgb(34, 138, 34);
    color: white;
    padding: 5px 25px;
    border-radius: 5px;
    cursor: pointer;
}

input, button {
    padding: 10px;
}
