.main-content-item {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: beige;
    margin-bottom: 10px;
}

.left-content h3 {
    margin-bottom: 10px;
}

.delete-btn button {
    background: none;
    border: none;
    font-weight: bolder;
    font-size: larger;
    color: rgb(204, 50, 50);
    cursor: pointer;
}